asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.3
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.1
cloudinary==1.42.1
colorama==0.4.6
constantly==23.10.4
coverage==7.6.10
cryptography==43.0.3
daphne==4.1.2
dj-database-url==2.3.0
Django==5.1.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.6.0
django-filter==24.3
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
forex-python==1.8
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iniconfig==2.0.0
jsonpickle==4.0.1
msgpack==1.1.0
packaging==24.2
pillow==11.0.0
pluggy==1.5.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
pytest==8.3.4
pytest-django==4.9.0
python-dotenv==1.0.1
python_paystack==1.2.0
redis==5.2.0
reportlab==4.2.5
requests==2.32.3
service-identity==24.2.0
setuptools==75.5.0
simplejson==3.19.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.1
Twisted==24.10.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uuid==1.30
validators==0.34.0
whitenoise==6.9.0
XlsxWriter==3.2.0
zope.interface==7.1.1
