{% extends "emails/base_email.html" %}

{% block content %}
<div class="">
    <div class="container">
        <div class="">
            <h1>Reset Your Password</h1>
        </div>

        <div class="email-body">
            <p>Hello,</p>
            <p>We received a request to reset your password for your Miz Viv Hairs account. Click the button below to
                reset it:</p>

            <div style="text-align: center;">
                <a href="{{ reset_url }}" class="button">Reset Password</a>
            </div>

            <p>If you didn't request this password reset, you can safely ignore this email. Your password will not be
                changed.</p>

            <div class="warning">
                This password reset link will expire in 24 hours for security reasons.
            </div>
        </div>

        <div class="footer">
            <p>This is an automated message from Miz Viv Hairs. Please do not reply to this email.</p>
            <p>&copy; {{ year }} Miz Viv Hairs. All rights reserved.</p>
        </div>
    </div>
</div>
{% endblock %}