
{% extends "emails/base_email.html" %} 

{% block content %}

:::: content
# Return Request Received

Dear {{ return_request.user.full_name }},

We've received your return request for Order #{{ return_request.order.id }}.

::: return-details
## Return Request Details

------------------- -----------------------------------------
Return ID: #{{ return_request.id }}
Order Number: #{{ return_request.order.id }}
Submission Date: {{ return_request.created_at|date:"F j, Y" }}
Status: Pending Review
------------------- -----------------------------------------

### Items to be Returned:
{% for item in return_request.items.all %}
- {{ item.product.name }} (Quantity: {{ item.quantity }})
{% endfor %}
:::

We'll review your request and notify you of the decision within 2-3 business days.

[View Return Details](%7B%7B%20site_url%20%7D%7D/returns/%7B%7B%20return_request.id%20%7D%7D){.button}
::::

{% endblock %}